body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    background: #007BFF;
    padding: 8px 12px;
    border-radius: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    padding: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}